@model ATM.Web.ViewModels.AtmViewModel

    <div asp-validation-summary="ModelOnly">

    </div>

<div class="text-center">
    <h1 class="display-4">ATM</h1>
    <form asp-controller="Home" asp-action="Index" method="post">
        <input type="number" asp-for="@Model.ValueRequested" />
        <input class="btn btn-primary" type="submit" value="Withdraw" />
    </form>

    

    <h3>Your Withdrawn Bills:</h3>
    @foreach (var bill in Model.BillsGivenOut)
    {
        <p>@bill.Amount x @bill.Value</p>
    }
</div>
